{#
/**
 * @file
 * Default theme implementation to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ previous"
 *     or "next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 *
 * @ingroup themeable
 */
#}
{% if items %}
  <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pagination text-center js-pager__items">
      {# Do not print "first" link to match the YaleUX pattern #}
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="pagination-previous">
          <a href="{{ items.previous.href }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Go to previous page'|t }}</span>
            <span aria-hidden="true">{{ items.previous.text|default('Previous'|t) }}</span>
          </a>
        </li>
      {% else %}
        <li class="pagination-previous disabled" aria-hidden="true">
          <span class="visually-hidden">{{ 'Go to previous page'|t }}</span>
          <span aria-hidden="true">{{ items.next.text|default('Previous'|t) }}</span>
        </li>
      {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="ellipses disabled" role="presentation"></li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}{% spaceless %}
        <li class="{{ current == key ? 'current' : '' }}">
        {% if current == key %}
          <span class="visually-hidden"> {{ 'Current page'|t }}</span>
          {{- key -}}
        {% else %}
          <a href="{{ item.href }}" {{ item.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'Page'|t }}</span>
            {{- key -}}
          </a>
        {% endif %}
        </li>
      {% endspaceless %}{% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="disabled ellipsis" role="presentation"></li>
      {% endif %}
      {# Print next item as link if we are not on the last page. #}
      {% if items.next %}
        <li class="pagination-next">
          <a href="{{ items.next.href }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Go to next page'|t }}</span>
            <span aria-hidden="true">{{ items.next.text|default('Next'|t) }}</span>
          </a>
        </li>
      {% else %}
        <li class="pagination-next disabled" aria-hidden="true">
          <span class="visually-hidden">{{ 'Go to next page'|t }}</span>
          <span aria-hidden="true">{{ items.next.text|default('Next'|t) }}</span>
        </li>
      {% endif %}
      {# Do not print "last" link to match the YaleUX pattern #}
    </ul>
  </nav>
{% endif %}
