{#
/**
 * @file
 * Theme override for a field.
 * field--paragraph--field-yale-carousel-image--yale-carousel-image.html.twig
 *
 * @see template_preprocess_field()
 */
#}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if not label_hidden %}
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
{% endif %}

{% for item in items %}
  {{ item.content }}
{% endfor %}
