// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }


// Fields.

.field {
  margin-bottom: 1rem;

  .field-label {
    font-weight: bold;
  }

  time {
    font-style: italic;
  }

  &.field-label-inline {
    .field-label {
      width: auto;
      float: left;
      margin-right: 2rem;
    }

    .field-items {
      .field-item {
        width: auto;
        float: left;
        margin-right: 1rem;
      }
    }
  }
}
